<div id = "wrapper">
  <div id = "header">
    <div id = "logo-container">
      <%= image_tag("logoholder.png") %>
    </div>
    <ul>
      <li><%= link_to "Home", root_path %> </li>
      <li><%= link_to "About", "about" %></li>
      <a href = "#"<li>Blog</li></a>
      <a href = "#"><li>Listings</li></a>
    </ul>
  </div>
  <div class = "blue-box">
    <%= image_tag("placeholder.png") %>
    <div class = "text-container">
    <h1>Trish Nichols Realty</h1>
    <h3>find your dream home with Trish</h3>
    <p>Trish has the experience and the will to find you the home you deserve</p>
    <%= link_to "Learn more", "about", class: "button" %>
    </div>
  </div>
  </div>
<div id = "footer">
  <!--<p>Home | About | Blog | Listings | Contact </p>--!>
</div>
